// Druid
@import 'druid/balance/sim';
@import 'druid/feral/sim';
@import 'druid/guardian/sim';
@import 'druid/restoration/sim';
// Hunter
@import 'hunter/dps/sim';
// Mage
@import 'mage/dps/sim';
// Paladin
@import 'paladin/holy/sim';
@import 'paladin/protection/sim';
@import 'paladin/retribution/sim';
// Priest
@import 'priest/discipline/sim';
@import 'priest/holy/sim';
@import 'priest/shadow/sim';
// Rogue
@import 'rogue/dps/sim';
// Shaman
@import 'shaman/elemental/sim';
@import 'shaman/enhancement/sim';
@import 'shaman/restoration/sim';
// Warlock
@import 'warlock/dps/sim';
// Warrior
@import 'warrior/dps/sim';
@import 'warrior/protection/sim';
