# nodejs modules
node_modules

ui/core/index.ts
ui/*/*/index.html
.dirstamp

# IDE folders
.idea
.history

# binaries
dist
binary_dist
sim/web/__debug_bin
/wowsimcli*
/wowsimtbc*

# temporary files
*.results.tmp
package.json.tmp
.stylelintcache

#.dockerignore
/tbc/
*.code-workspace
wowsimtbc

# old result file
TestAPL.results

#macos
.DS_Store

# air tmp dir
tmp/

# lib
wowsimtbc*.so
wowsimtbc*.dll
wowsimtbc*.h
wowsims.db
assets/db_inputs/dbc/
tbc.sln
