.apl-group-editor-root {
	.apl-action-picker-root {
		width: 100%;
		display: flex;
	}

	.list-picker-title {
		font-weight: normal;
	}

	.list-picker-new-button {
		width: unset !important;
	}

	.apl-group-name-picker {
		input {
			min-width: 8rem;
		}
	}
}

.group-reference-variables-container {
	.group-variable-label {
		font-size: var(--btn-font-size);
	}

	.list-picker-root {
		.list-picker-items {
			gap: calc(var(--apl-spacer) * 1.5) !important;
		}
	}
}
