.apl-name-display {
	display: flex;
	align-items: center;
	gap: var(--spacer-2);

	.apl-name-value {
		font-weight: bold;
	}

	.apl-name-rename {
		padding: 0;
		line-height: 1;
	}
}

.apl-placeholder-name-picker-root .apl-name-display {
	.apl-name-value {
		font-size: var(--btn-font-size);
	}
}

.apl-group-editor-root {
	.apl-action-picker-root {
		width: 100%;
		display: flex;
	}

	.list-picker-title {
		font-weight: normal;
	}

	.list-picker-new-button {
		width: unset !important;
	}
}

.group-reference-variables-container {
	.group-variable-label {
		font-size: var(--btn-font-size);
	}

	.list-picker-root {
		.list-picker-items {
			gap: calc(var(--apl-spacer) * 1.5) !important;
		}
	}
}
