.gear-change-icon {
	.gear-change-icon-frame {
		position: relative;
		width: fit-content;
	}

	.gear-change-icon-link {
		position: absolute;
		inset: 0;
	}

	.gem-socket-container {
		--changed-socket-marker-size: calc(var(--gem-width) * 0.7);

		background-size: contain;
		background-repeat: no-repeat;
		display: flex;
		align-items: center;
		justify-content: center;
		letter-spacing: 0;
	}

	.fa-exclamation-circle {
		margin-left: 1px;
		font-size: var(--changed-socket-marker-size);
		color: var(--bs-danger);
	}
}
