.tippy-box[data-theme='reforge-optimiser-popover'] {
	min-width: 300px;

	@include media-breakpoint-down(lg) {
		max-width: calc(100dvw - var(--settings-button-width) - var(--spacer-3) * 2) !important;
	}

	.saved-data-manager-root {
		margin-bottom: 0;
	}
}

.suggest-reforges-toast {
	--slot-size: 4rem;

	.suggest-reforges-gear-list {
		margin-block: var(--spacer-2);
		list-style: none;
		display: grid;
		grid-template-columns: repeat(auto-fill, var(--slot-size));
		width: 100%;
		gap: var(--spacer-2);
	}

	.suggest-reforges-gear-reforge {
		position: absolute;
		top: var(--spacer-1);
		left: 50%;
		transform: translate(-50%, 0);
		width: 2rem;
		height: 2rem;
		background:
			center / 2.15rem url('https://wow.zamimg.com/images/Icon/medium/border/default.png') no-repeat,
			center / contain url('https://wow.zamimg.com/images/wow/interface/cursor/crosshair/reforge.png') no-repeat;
		background-color: var(--bs-gray-800);
		border-radius: 3px;
	}

	.gem-socket-container {
		background-size: contain;
		background-repeat: no-repeat;
	}

	.item-picker-icon-wrapper {
		--icon-size: var(--slot-size);
	}

	.gem-socket-container {
		display: flex;
		align-items: center;
		justify-content: center;
		letter-spacing: 0;
	}

	.fa-exclamation-circle {
		margin-left: 1px;
		color: var(--bs-danger);
	}
}

.suggest-reforges-settings-group {
	--settings-button-width: 36px;
	display: grid !important;
	grid-template-columns: auto var(--settings-button-width);
	order: 20; // Force button last in the container
}

.suggest-reforges-action-button {
	padding-left: calc(var(--btn-padding-x) + var(--settings-button-width));
	padding-right: calc(var(--btn-padding-x) + var(--settings-button-width));
	margin-right: calc(var(--settings-button-width) * -1);
}

.suggest-reforges-button-settings {
	background-color: transparent;
	border-color: transparent;
	width: var(--settings-button-width);
}

.reforge-optimizer-stat-cap-table {
	border-collapse: collapse;
	border-spacing: 0;
	padding: 0;
	width: 100%;

	tr {
		td,
		th {
			padding-bottom: var(--spacer-1);
		}
	}

	th,
	td {
		padding: 0;

		&:not(:first-child):not(:only-child) {
			padding-left: calc(var(--spacer-1) / 2);
		}

		&:not(:last-child):not(:only-child) {
			padding-right: calc(var(--spacer-1) / 2);
		}

		&:first-child:not(:only-child) {
			padding-right: var(--spacer-2);
		}
	}

	tbody {
		td:nth-child(2) {
			width: 75px;
		}

		td:nth-child(3) {
			width: 60px;
		}
	}

	.form-control {
		padding-left: var(--spacer-2);
		padding-right: var(--spacer-2);
		text-align: right;
	}

	.enum-picker-selector {
		width: 100%;
	}
}

.reforge-optimizer-stat-cap-item {
	td:first-child {
		width: 0;
	}
}

.reforge-optimizer-stat-cap-item-label {
	white-space: nowrap;
}
